header {
    height: 110px;
    padding-top: 26px;
    background-color: #006d5c;
    text-align: center;

    img:first-child {
        padding-right: 175px;
    }
}

.search {
    position: relative;
    padding-top: 28px;
    width: 781px;
    margin: 0 auto;

    .left {
        font-size: 18px;
        color: #006d5c;

        i {
            display: inline-block;
            width: 26px;
            height: 32px;
            background: url(../images/safety-bg.png) no-repeat -11px -10px;
            vertical-align: middle;
        }
    }

    .middle {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%,0);
    }
}