@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573718249144'); /* IE9 */
  src: url('iconfont.eot?t=1573718249144#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABnQAAAJ0AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gRoBNgIkAwgLBgAEIAWEbQc0G8QFEdWTC2RfFNgNei3osCe/g7DdCQrERFo/kaDvi+D5Wivf7+7Z62Pg2T2kADtElRjBalOeXFRiASWQjB6dHGDCHUgvEDTP5HWCEiDAfnHOgatREWokb9GjLySlYZZTAPzP5fTuque9QOYHymmOxWMCBpYGNNamyIok8oaxC1zCcQgQRpYKMjA04WIxWOMEkGOHD7awOTcGw2IWwVez1CD3cbDqrnoD3Au/L3+oy4LC0VgFM/uDu/R8h52gr3hXVn0EDwhotQNooAIYELc2PIVGGEkTFjbkYV+5At/heb4W2asKYX+dlR0BQAZk3xPH5d5qtgLAxO0FoGfUjaBSIs4HkoKWexeQ3F0/3Z7of8pXV7eLRHthutS0uRkc/2zKdKU6/6DPewJFmVB0Id2iYjq5aOjZxPYDtc/LlVOnBArmsdClCSdPqXnlQu6SP+Ctz6qPCCDgFqnXG9Hx34YbAD5+/gqd3oZ+VrAnsAj8KE7POqPzLI0yKqfWqigYNVYBYYQBHmyP822sPPGu4oIl8d6sIWSmRo3VORA1hApwCKcBfFi6IYxyw6vDiXcGjZhQoMxNAEKMICiieAWaGG9RQ/gKDkn+gY+YNIQRkPgtwynKiurIqAUdmD9Eu8zk6ERFuTf071FzlheSX8h79EHfdMXYFWfkOWbsHz+IEBAvE1zAaTiOC6y8JLTSBJH10LZU96bGLlOhiiOjFnRg/hDtMpPfWlTp8zf071FzS1GN8YW8x86hb7oe6FU89yq6l1f2jx9ECIiXCS5gEI7jAmv9oIRWmjAiuB5auxn1FTfrS6cPyGJlWIqqtLvVhSI9e6dT9FVFAQA=') format('woff2'),
  url('iconfont.woff?t=1573718249144') format('woff'),
  url('iconfont.ttf?t=1573718249144') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573718249144#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e62a";
}

